{% extends 'playermanager/base.html' %}

{% load static %}

{% block character %}
class="active"
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-12">
      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- {% include 'ccreator/form-template.html' %} -->

        <!-- About -->
        <div class="row">
          <!-- About -->
          <div class="col-lg-6 col-md-12">
            <div class="card">
              <div class="card-header" data-background-color="purple">
                <h4 class="title">About</h4>
              </div>
              <div class="card-content">
                <div class="row">
                  <div class="col-md-5">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.name.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.name.id_for_label }}" name="{{ form.name.html_name }}" value="{{ form.name.value }}" type="text"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.level.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.level.id_for_label }}" name="{{ form.level.html_name }}" value="{{ form.level.value }}" type="number"/></td>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.char_class.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.char_class.id_for_label }}" name="{{ form.char_class.html_name }}" value="{{ form.char_class.value }}" type="text"/></td>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.race.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.race.id_for_label }}" name="{{ form.race.html_name }}" value="{{ form.race.value }}" type="text"/></td>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.alignment.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.alignment.id_for_label }}" name="{{ form.alignment.html_name }}" value="{{ form.alignment.value }}" type="text"/></td>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- About API Display -->
          <div class="col-lg-6 col-md-12">
  					<div class="card card-nav-tabs">
  						<div class="card-header" data-background-color="purple">
  							<div class="nav-tabs-navigation">
  								<div class="nav-tabs-wrapper">
  									<!-- <span class="nav-tabs-title">Options:</span> -->
  									<ul class="nav nav-tabs" data-tabs="tabs">
  										<li class="active">
  											<a href="#char_class" data-toggle="tab">
  												Class
  											<div class="ripple-container"></div></a>
  										</li>
  										<li class="">
  											<a href="#race" data-toggle="tab">
  												Race
  											<div class="ripple-container"></div></a>
  										</li>
  									</ul>
  								</div>
  							</div>
  						</div>

  						<div class="card-content">
  							<div class="tab-content">
  								<div class="tab-pane active" id="char_class">

  								</div>
  								<div class="tab-pane" id="race">
  									<table class="table">
  										<!-- <tbody>
  											<tr>
  												<td>
  													<div class="checkbox">
  														<label>
  															<input type="checkbox" name="optionsCheckboxes" checked>
  														</label>
  													</div>
  												</td>
  												<td>Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
  												</td>
  												<td class="td-actions text-right">
  													<button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
  														<i class="material-icons">edit</i>
  													</button>
  													<button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
  														<i class="material-icons">close</i>
  													</button>
  												</td>
  											</tr>
  											<tr>
  												<td>
  													<div class="checkbox">
  														<label>
  															<input type="checkbox" name="optionsCheckboxes">
  														</label>
  													</div>
  												</td>
  												<td>Sign contract for "What are conference organizers afraid of?"</td>
  												<td class="td-actions text-right">
  													<button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
  														<i class="material-icons">edit</i>
  													</button>
  													<button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
  														<i class="material-icons">close</i>
  													</button>
  												</td>
  											</tr>
  										</tbody> -->
  									</table>
  								</div>
  							</div>
  						</div>
              <div class="card-footer"></div>
  					</div>
  				</div>
        </div>

        <!-- Attributes & About-->
        <div class="row">
          <!-- Attributes -->
          <div class="col-lg-6 col-md-12">
            <div class="card">
              <div class="card-header" data-background-color="purple">
                <h4 class="title">Attributes</h4>
              </div>
              <div class="card-content">
                <div class="row">
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.strength.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.strength.id_for_label }}" name="{{ form.strength.html_name }}" value="{{ form.strength.value }}" type="number"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.dexterity.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.dexterity.id_for_label }}" name="{{ form.dexterity.html_name }}" value="{{ form.dexterity.value }}" type="number"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.constitution.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.constitution.id_for_label }}" name="{{ form.constitution.html_name }}" value="{{ form.constitution.value }}" type="number"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.intelligence.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.intelligence.id_for_label }}" name="{{ form.intelligence.html_name }}" value="{{ form.intelligence.value }}" type="number"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.wisdom.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.wisdom.id_for_label }}" name="{{ form.wisdom.html_name }}" value="{{ form.wisdom.value }}" type="number"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.charisma.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.charisma.id_for_label }}" name="{{ form.charisma.html_name }}" value="{{ form.charisma.value }}" type="number"/></td>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button class="btn btn-block"><i class="material-icons">casino</i> Randomize</button>
              </div>
            </div>
          </div>
          <!-- Information -->
          <div class="col-lg-6 col-md-12">
            <div class="card">
              <div class="card-header" data-background-color="purple">
                <h4 class="title">Information</h4>
              </div>
              <div class="card-content table-responsive">
                <table class="table table-hover">
                  <thead class="text-warning">
                    <th>Attribute</th>
                    <th>Description</th>
                  </thead>
                  <tbody>
                      <tr>
                        <td>Strength</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Dexterity</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Constitution</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Intelligence</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Wisdom</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Charisma</td>
                        <td></td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <!-- Skills -->
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header" data-background-color="purple">
                <h4 class="title">Skills</h4>
              </div>
              <div class="card-content">
                <div class="row">
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.acrobatics.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.acrobatics.id_for_label }}" name="{{ form.acrobatics.html_name }}" value="{{ form.acrobatics.value }}" type="number"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.animal_handling.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.animal_handling.id_for_label }}" name="{{ form.animal_handling.html_name }}" value="{{ form.animal_handling.value }}" type="number"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.arcana.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.arcana.id_for_label }}" name="{{ form.arcana.html_name }}" value="{{ form.arcana.value }}" type="number"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.athletics.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.athletics.id_for_label }}" name="{{ form.athletics.html_name }}" value="{{ form.athletics.value }}" type="number"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.deception.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.deception.id_for_label }}" name="{{ form.deception.html_name }}" value="{{ form.deception.value }}" type="number"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.history.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.history.id_for_label }}" name="{{ form.history.html_name }}" value="{{ form.history.value }}" type="number"/></td>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.insight.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.insight.id_for_label }}" name="{{ form.insight.html_name }}" value="{{ form.insight.value }}" type="number"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.intimidation.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.intimidation.id_for_label }}" name="{{ form.intimidation.html_name }}" value="{{ form.intimidation.value }}" type="number"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.investigation.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.investigation.id_for_label }}" name="{{ form.investigation.html_name }}" value="{{ form.investigation.value }}" type="number"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.medicine.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.medicine.id_for_label }}" name="{{ form.medicine.html_name }}" value="{{ form.medicine.value }}" type="number"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.nature.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.nature.id_for_label }}" name="{{ form.nature.html_name }}" value="{{ form.nature.value }}" type="number"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.perception.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.perception.id_for_label }}" name="{{ form.perception.html_name }}" value="{{ form.perception.value }}" type="number"/></td>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.performance.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.performance.id_for_label }}" name="{{ form.performance.html_name }}" value="{{ form.performance.value }}" type="number"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.persuasion.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.persuasion.id_for_label }}" name="{{ form.persuasion.html_name }}" value="{{ form.persuasion.value }}" type="number"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.religion.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.religion.id_for_label }}" name="{{ form.religion.html_name }}" value="{{ form.religion.value }}" type="number"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.sleight_of_hand.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.sleight_of_hand.id_for_label }}" name="{{ form.sleight_of_hand.html_name }}" value="{{ form.sleight_of_hand.value }}" type="number"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.stealth.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.stealth.id_for_label }}" name="{{ form.stealth.html_name }}" value="{{ form.stealth.value }}" type="number"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.survival.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.survival.id_for_label }}" name="{{ form.survival.html_name }}" value="{{ form.survival.value }}" type="number"/></td>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Personality -->
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header" data-background-color="purple">
                <h4 class="title">Personality</h4>
              </div>
              <div class="card-content">
                <div class="row">
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.personality.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.personality.id_for_label }}" name="{{ form.personality.html_name }}" value="{{ form.personality.value }}" type="text"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.ideals.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.ideals.id_for_label }}" name="{{ form.ideals.html_name }}" value="{{ form.ideals.value }}" type="text"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.bonds.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.bonds.id_for_label }}" name="{{ form.bonds.html_name }}" value="{{ form.bonds.value }}" type="text"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.flaws.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.flaws.id_for_label }}" name="{{ form.flaws.html_name }}" value="{{ form.flaws.value }}" type="text"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="">
                      <td><label class="">{{ form.avatar.label_tag }}</label></td>
                      <td><input class="" id="{{ form.avatar.id_for_label }}" name="{{ form.avatar.html_name }}" value="{{ form.avatar.value }}" type="file"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.user.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.user.id_for_label }}" name="{{ form.user.html_name }}" type="hidden" value="{{ user.id }}"/></td>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Features -->
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header" data-background-color="purple">
                <h4 class="title">Personality</h4>
              </div>
              <div class="card-content">
                <div class="row">
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.description.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.description.id_for_label }}" name="{{ form.description.html_name }}" value="{{ form.description.value }}" type="text"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.ideals.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.ideals.id_for_label }}" name="{{ form.ideals.html_name }}" value="{{ form.ideals.value }}" type="text"/></td>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Submit -->
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary pull-right">Submit</button>
          </div>
        </div>
      </form>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script>
  var jsonObj = JSON.parse('{{ classes | escapejs }}');
  var arr = jsonObj.results;
  var i = 0;
  $(document).ready(function() {
    while(arr) {
      // $('#char_class').append("<button style='text-align: left;' class='col-xs-6 col-sm-6 col-md-6 col-lg-6'><div style='border: black solid 2px;' class='col-xs-6 col-sm-10 col-md-10 col-lg-10'><p style='padding: 10px 0;>'" + arr[i].name + "</p></div><div style='text-align: right; border: black solid 2px;' class='col-xs-2 col-sm-2 col-md-2  col-lg-2'><i class='material-icons'>keyboard_arrow_right</i></div></button>");
      $('#char_class').append("<button style='text-align: left;' class='col-xs-6 col-sm-6 col-md-6 col-lg-6'><div style='border: black solid 0; padding: 5px 0;' class='col-xs-6 col-sm-10 col-md-10 col-lg-10'>" + arr[i].name + "</div><div style='text-align: right;' class='col-xs-2 col-sm-2 col-md-2  col-lg-2'><i class='material-icons'>keyboard_arrow_right</i></div></button>");
      i++;
    }
  });
</script>
{% endblock %}
