{% extends 'playermanager/base.html' %}

{% load static %}

{% block character %}
class="active"
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-12">
      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- {% include 'ccreator/form-template.html' %} -->

        <!-- About -->
        <div class="row">
          <!-- About -->
          <div class="col-md-6 col-lg-6">
            <div class="card">
              <div class="card-header" data-background-color="purple">
                <h4 class="title">About</h4>
              </div>
              <div class="card-content">
                <div class="row">
                  <div class="col-md-5">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.name.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.name.id_for_label }}" name="{{ form.name.html_name }}" value="{{ form.name.value }}" type="text"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.level.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.level.id_for_label }}" name="{{ form.level.html_name }}" value="{{ form.level.value }}" type="number"/></td>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.char_class.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.char_class.id_for_label }}" name="{{ form.char_class.html_name }}" value="{{ form.char_class.value }}" type="text"/></td>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.race.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.race.id_for_label }}" name="{{ form.race.html_name }}" value="{{ form.race.value }}" type="text"/></td>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.alignment.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.alignment.id_for_label }}" name="{{ form.alignment.html_name }}" value="{{ form.alignment.value }}" type="text"/></td>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- About API Display | NOT WORKING | Switching to hard code for now -->
          <div class="col-md-6 col-lg-6">
            <div class="card card-nav-tabs">
              <div class="card-header" data-background-color="purple">
                <div class="nav-tabs-navigation">
                  <div class="nav-tabs-wrapper">
                    <span class="nav-tabs-title">Options:</span>
                    <ul class="nav nav-tabs" data-tabs="tabs">
                      <li class="active">
                        <a href="#char_class" data-toggle="tab">Classes</a>
                      </li>
                      <li class="">
                        <a href="#races" data-toggle="tab">Races</a>
                      </li>
                      <li class="hidden">
                        <a href="#Barbarian" data-toggle="tab" id="Barbarian_tab">Barbarian</a>
                      </li>
                      <li class="hidden">
                        <a href="#bard" data-toggle="tab" id="bard_tab">Bard</a>
                      </li>
                      <li class="hidden">
                        <a href="#cleric" data-toggle="tab" id="cleric_tab">Cleric</a>
                      </li>
                      <li class="hidden">
                        <a href="#druid" data-toggle="tab" id="druid_tab">Druid</a>
                      </li>
                      <li class="hidden">
                        <a href="#figher" data-toggle="tab" id="fighter_tab">Fighter</a>
                      </li>
                      <li class="hidden">
                        <a href="#monk" data-toggle="tab" id="monk_tab">Monk</a>
                      </li>
                      <li class="hidden">
                        <a href="#paladin" data-toggle="tab" id="paladin_tab">Paladin</a>
                      </li>
                      <li class="hidden">
                        <a href="#ranger" data-toggle="tab" id="ranger_tab">Ranger</a>
                      </li>
                      <li class="hidden">
                        <a href="#rogue" data-toggle="tab" id="rogue_tab">Rogue</a>
                      </li>
                      <li class="hidden">
                        <a href="#sorcerer" data-toggle="tab" id="sorcerer_tab">Sorcerer</a>
                      </li>
                      <li class="hidden">
                        <a href="#warlock" data-toggle="tab" id="warlock_tab">Warlock</a>
                      </li>
                      <li class="hidden">
                        <a href="#wizard" data-toggle="tab" id="wizard_tab">Wizard</a>
                      </li>
                      <li class="hidden">
                        <a href="#dwarf" data-toggle="tab" id="dwarf_tab">Dwarf</a>
                      </li>
                      <li class="hidden">
                        <a href="#elf" data-toggle="tab" id="elf_tab">Elf</a>
                      </li>
                      <li class="hidden">
                        <a href="#halfling" data-toggle="tab" id="halfling_tab">Halfling</a>
                      </li>
                      <li class="hidden">
                        <a href="#human" data-toggle="tab" id="human_tab">Human</a>
                      </li>
                      <li class="hidden">
                        <a href="#dragonborn" data-toggle="tab" id="dragonborn_tab">Dragonborn</a>
                      </li>
                      <li class="hidden">
                        <a href="#gnome" data-toggle="tab" id="gnome_tab">Gnome</a>
                      </li>
                      <li class="hidden">
                        <a href="#half-elf" data-toggle="tab" id="half-elf_tab">Half-Elf</a>
                      </li>
                      <li class="hidden">
                        <a href="#half-orc" data-toggle="tab" id="half-orc_tab">Half-Orc</a>
                      </li>
                      <li class="hidden">
                        <a href="#tiefling" data-toggle="tab" id="tiefling_tab">Tiefling</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="card-content">
                <div class="tab-content">
                  <div class="tab-pane active" id="char_class">
                    <!-- <table class="table table-hover">
                      <tbody>
                        <tr>
  												<td>Barbarian</td>
  												<td class="td-actions text-right">
                            <a href="#Barbarian" class="btn btn-primary btn-simple btn-xs" data-toggle="tab" id="Barbarian_link">
  														<i class="material-icons">keyboard_arrow_right</i>
  													</a>
  												</td>
                        </tr>
                        <tr>
  												<td>Bard</td>
  												<td class="td-actions text-right">
                            <a href="#bard" class="btn btn-primary btn-simple btn-xs" data-toggle="tab" id="bard_link">
  														<i class="material-icons">keyboard_arrow_right</i>
  													</a>
  												</td>
                        </tr>
                        <tr>
  												<td>Cleric</td>
  												<td class="td-actions text-right">
                            <a href="#cleric" class="btn btn-primary btn-simple btn-xs" data-toggle="tab" id="cleric_link">
  														<i class="material-icons">keyboard_arrow_right</i>
  													</a>
  												</td>
                        </tr>
                        <tr>
  												<td>Druid</td>
  												<td class="td-actions text-right">
                            <a href="#druid" class="btn btn-primary btn-simple btn-xs" data-toggle="tab" id="druid_link">
  														<i class="material-icons">keyboard_arrow_right</i>
  													</a>
  												</td>
                        </tr>
                        <tr>
  												<td>Fighter</td>
  												<td class="td-actions text-right">
                            <a href="#fighter" class="btn btn-primary btn-simple btn-xs" data-toggle="tab" id="fighter_link">
  														<i class="material-icons">keyboard_arrow_right</i>
  													</a>
  												</td>
                        </tr>
                        <tr>
  												<td>Monk</td>
  												<td class="td-actions text-right">
                            <a href="#monk" class="btn btn-primary btn-simple btn-xs" data-toggle="tab" id="monk_link">
  														<i class="material-icons">keyboard_arrow_right</i>
  													</a>
  												</td>
                        </tr>
                        <tr>
  												<td>Paladin</td>
  												<td class="td-actions text-right">
                            <a href="#paladin" class="btn btn-primary btn-simple btn-xs" data-toggle="tab" id="paladin_link">
  														<i class="material-icons">keyboard_arrow_right</i>
  													</a>
  												</td>
                        </tr>
                        <tr>
  												<td>Ranger</td>
  												<td class="td-actions text-right">
                            <a href="#ranger" class="btn btn-primary btn-simple btn-xs" data-toggle="tab" id="ranger_link">
  														<i class="material-icons">keyboard_arrow_right</i>
  													</a>
  												</td>
                        </tr>
                        <tr>
  												<td>Rogue</td>
  												<td class="td-actions text-right">
                            <a href="#rogue" class="btn btn-primary btn-simple btn-xs" data-toggle="tab" id="rogue_link">
  														<i class="material-icons">keyboard_arrow_right</i>
  													</a>
  												</td>
                        </tr>
                        <tr>
  												<td>Sorcerer</td>
  												<td class="td-actions text-right">
                            <a href="#sorcerer" class="btn btn-primary btn-simple btn-xs" data-toggle="tab" id="sorcerer_link">
  														<i class="material-icons">keyboard_arrow_right</i>
  													</a>
  												</td>
                        </tr>
                        <tr>
  												<td>Warlock</td>
  												<td class="td-actions text-right">
                            <a href="#warlock" class="btn btn-primary btn-simple btn-xs" data-toggle="tab" id="warlock_link">
  														<i class="material-icons">keyboard_arrow_right</i>
  													</a>
  												</td>
                        </tr>
                        <tr>
  												<td>Wizard</td>
  												<td class="td-actions text-right">
                            <a href="#wizard" class="btn btn-primary btn-simple btn-xs" data-toggle="tab" id="wizard_link">
  														<i class="material-icons">keyboard_arrow_right</i>
  													</a>
  												</td>
                        </tr>
                      </tbody>
                    </table> -->
                  </div>

                  <!-- Classes -->
                  <div class="tab-pane" id="Barbarian">
                    <h4 class="title">Barbarian</h4>
                    <table>
                      <tbody>
                        <tr>
                          <td>
                            <div class="checkbox">
  														<label>
  															<input type="checkbox" name="optionsProf">
  														</label>
  													</div>
                          </td>
                          <td>Animal Handling</td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
  														<label>
  															<input type="checkbox" name="optionsProf">
  														</label>
  													</div>
                          </td>
                          <td>Athletics</td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
  														<label>
  															<input type="checkbox" name="optionsProf">
  														</label>
  													</div>
                          </td>
                          <td>Intimidation</td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
  														<label>
  															<input type="checkbox" name="optionsProf">
  														</label>
  													</div>
                          </td>
                          <td>Nature</td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
  														<label>
  															<input type="checkbox" name="optionsProf">
  														</label>
  													</div>
                          </td>
                          <td>Perception</td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
  														<label>
  															<input type="checkbox" name="optionsProf">
  														</label>
  													</div>
                          </td>
                          <td>Survival</td>
                        </tr>
                      </tbody>
                    </table>
                    <div><button type="button" id="barbarian_select" class="btn btn-block">Submit</button></div>
                  </div>
                  <div class="tab-pane" id="bard">
                    <h4 class="title">Bard</h4>
                    <table>
                      <tbody>
                        <tr>
                          <td>
                            <div class="checkbox">
  														<label>
  															<input type="checkbox" name="optionsProf">
  														</label>
  													</div>
                          </td>
                          <td>Acrobatics</td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
  														<label>
  															<input type="checkbox" name="optionsProf">
  														</label>
  													</div>
                          </td>
                          <td>Animal Handling</td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
  														<label>
  															<input type="checkbox" name="optionsProf">
  														</label>
  													</div>
                          </td>
                          <td>Arcana</td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
  														<label>
  															<input type="checkbox" name="optionsProf">
  														</label>
  													</div>
                          </td>
                          <td>Athletics</td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
  														<label>
  															<input type="checkbox" name="optionsProf">
  														</label>
  													</div>
                          </td>
                          <td>Deception</td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
  														<label>
  															<input type="checkbox" name="optionsProf">
  														</label>
  													</div>
                          </td>
                          <td>History</td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
  														<label>
  															<input type="checkbox" name="optionsProf">
  														</label>
  													</div>
                          </td>
                          <td>Insight</td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
  														<label>
  															<input type="checkbox" name="optionsProf">
  														</label>
  													</div>
                          </td>
                          <td>Intimidation</td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
  														<label>
  															<input type="checkbox" name="optionsProf">
  														</label>
  													</div>
                          </td>
                          <td>Investigation</td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
  														<label>
  															<input type="checkbox" name="optionsProf">
  														</label>
  													</div>
                          </td>
                          <td>Medicine</td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
  														<label>
  															<input type="checkbox" name="optionsProf">
  														</label>
  													</div>
                          </td>
                          <td>Nature</td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
  														<label>
  															<input type="checkbox" name="optionsProf">
  														</label>
  													</div>
                          </td>
                          <td>Perception</td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
  														<label>
  															<input type="checkbox" name="optionsProf">
  														</label>
  													</div>
                          </td>
                          <td>Performance</td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
  														<label>
  															<input type="checkbox" name="optionsProf">
  														</label>
  													</div>
                          </td>
                          <td>Persuasion</td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
  														<label>
  															<input type="checkbox" name="optionsProf">
  														</label>
  													</div>
                          </td>
                          <td>Religion</td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
  														<label>
  															<input type="checkbox" name="optionsProf">
  														</label>
  													</div>
                          </td>
                          <td>Sleight of Hand</td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
  														<label>
  															<input type="checkbox" name="optionsProf">
  														</label>
  													</div>
                          </td>
                          <td>Stealth</td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
  														<label>
  															<input type="checkbox" name="optionsProf">
  														</label>
  													</div>
                          </td>
                          <td>Survival</td>
                        </tr>
                      </tbody>
                    </table>
                    <div><button type="button" id="bard_select" class="btn btn-block">Submit</button></div>
                  </div>
                  <div class="tab-pane" id="cleric"></div>
                  <div class="tab-pane" id="druid"></div>
                  <div class="tab-pane" id="fighter"></div>
                  <div class="tab-pane" id="monk"></div>
                  <div class="tab-pane" id="paladin"></div>
                  <div class="tab-pane" id="ranger"></div>
                  <div class="tab-pane" id="rogue"></div>
                  <div class="tab-pane" id="sorcerer"></div>
                  <div class="tab-pane" id="warlock"></div>
                  <div class="tab-pane" id="wizard"></div>

                  <div class="tab-pane" id="races">
                    <table class="table table-hover">
                      <tbody>
                        <tr>
  												<td>Dwarf</td>
  												<td class="td-actions text-right">
                            <a href="#dwarf" class="btn btn-primary btn-simple btn-xs" data-toggle="tab" id="dwarf_link">
  														<i class="material-icons">keyboard_arrow_right</i>
  													</a>
  												</td>
                        </tr>
                        <tr>
                          <td>Elf</td>
  												<td class="td-actions text-right">
                            <a href="#elf" class="btn btn-primary btn-simple btn-xs" data-toggle="tab" id="elf_link">
  														<i class="material-icons">keyboard_arrow_right</i>
  													</a>
  												</td>
                        </tr>
                        <tr>
                          <td>Halfing</td>
  												<td class="td-actions text-right">
                            <a href="#halfling" class="btn btn-primary btn-simple btn-xs" data-toggle="tab" id="halfling_link">
  														<i class="material-icons">keyboard_arrow_right</i>
  													</a>
  												</td>
                        </tr>
                        <tr>
                          <td>Human</td>
  												<td class="td-actions text-right">
                            <a href="#human" class="btn btn-primary btn-simple btn-xs" data-toggle="tab" id="human_link">
  														<i class="material-icons">keyboard_arrow_right</i>
  													</a>
  												</td>
                        </tr>
                        <tr>
                          <td>Dragonborn</td>
  												<td class="td-actions text-right">
                            <a href="#dragonborn" class="btn btn-primary btn-simple btn-xs" data-toggle="tab" id="dragonborn_link">
  														<i class="material-icons">keyboard_arrow_right</i>
  													</a>
  												</td>
                        </tr>
                        <tr>
                          <td>Gnome</td>
  												<td class="td-actions text-right">
                            <a href="#gnome" class="btn btn-primary btn-simple btn-xs" data-toggle="tab" id="gnome_link">
  														<i class="material-icons">keyboard_arrow_right</i>
  													</a>
  												</td>
                        </tr>
                        <tr>
                          <td>Half-Elf</td>
  												<td class="td-actions text-right">
                            <a href="#half-elf" class="btn btn-primary btn-simple btn-xs" data-toggle="tab" id="half-elf_link">
  														<i class="material-icons">keyboard_arrow_right</i>
  													</a>
  												</td>
                        </tr>
                        <tr>
                          <td>Half-Orc</td>
  												<td class="td-actions text-right">
                            <a href="#half-orc" class="btn btn-primary btn-simple btn-xs" data-toggle="tab" id="half-orc_link">
  														<i class="material-icons">keyboard_arrow_right</i>
  													</a>
  												</td>
                        </tr>
                        <tr>
                          <td>Tiefling</td>
  												<td class="td-actions text-right">
                            <a href="#tiefling" class="btn btn-primary btn-simple btn-xs" data-toggle="tab" id="tiefling_link">
  														<i class="material-icons">keyboard_arrow_right</i>
  													</a>
  												</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <!-- Races -->
                  <div class="tab-pane" id="dwarf"></div>
                  <div class="tab-pane" id="elf"></div>
                  <div class="tab-pane" id="halfling"></div>
                  <div class="tab-pane" id="human"></div>
                  <div class="tab-pane" id="dragonborn"></div>
                  <div class="tab-pane" id="gnome"></div>
                  <div class="tab-pane" id="half-Elf"></div>
                  <div class="tab-pane" id="half-Orc"></div>
                  <div class="tab-pane" id="tiefling"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Attributes & About-->
        <div class="row">
          <!-- Attributes -->
          <div class="col-lg-12 col-md-12">
            <div class="card">
              <div class="card-header" data-background-color="purple">
                <h4 class="title">Attributes</h4>
              </div>
              <div class="card-content">
                <div class="row">
                  <div class="col-md-2 col-lg-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.strength.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.strength.id_for_label }}" name="{{ form.strength.html_name }}" value="{{ form.strength.value }}" type="number"/> <span id="bonus"></span> <span id="mod"></span></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.dexterity.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.dexterity.id_for_label }}" name="{{ form.dexterity.html_name }}" value="{{ form.dexterity.value }}" type="number"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.constitution.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.constitution.id_for_label }}" name="{{ form.constitution.html_name }}" value="{{ form.constitution.value }}" type="number"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.intelligence.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.intelligence.id_for_label }}" name="{{ form.intelligence.html_name }}" value="{{ form.intelligence.value }}" type="number"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.wisdom.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.wisdom.id_for_label }}" name="{{ form.wisdom.html_name }}" value="{{ form.wisdom.value }}" type="number"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.charisma.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.charisma.id_for_label }}" name="{{ form.charisma.html_name }}" value="{{ form.charisma.value }}" type="number"/></td>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button type="button" id="randomize" class="btn btn-block"><i class="material-icons">casino</i> Randomize</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Skills -->
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header" data-background-color="purple">
                <h4 class="title">Skills</h4>
              </div>
              <div class="card-content">
                <div class="row">
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.acrobatics.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.acrobatics.id_for_label }}" name="{{ form.acrobatics.html_name }}" value="{{ form.acrobatics.value }}" type="number"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.animal_handling.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.animal_handling.id_for_label }}" name="{{ form.animal_handling.html_name }}" value="{{ form.animal_handling.value }}" type="number"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.arcana.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.arcana.id_for_label }}" name="{{ form.arcana.html_name }}" value="{{ form.arcana.value }}" type="number"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.athletics.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.athletics.id_for_label }}" name="{{ form.athletics.html_name }}" value="{{ form.athletics.value }}" type="number"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.deception.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.deception.id_for_label }}" name="{{ form.deception.html_name }}" value="{{ form.deception.value }}" type="number"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.history.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.history.id_for_label }}" name="{{ form.history.html_name }}" value="{{ form.history.value }}" type="number"/></td>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.insight.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.insight.id_for_label }}" name="{{ form.insight.html_name }}" value="{{ form.insight.value }}" type="number"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.intimidation.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.intimidation.id_for_label }}" name="{{ form.intimidation.html_name }}" value="{{ form.intimidation.value }}" type="number"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.investigation.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.investigation.id_for_label }}" name="{{ form.investigation.html_name }}" value="{{ form.investigation.value }}" type="number"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.medicine.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.medicine.id_for_label }}" name="{{ form.medicine.html_name }}" value="{{ form.medicine.value }}" type="number"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.nature.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.nature.id_for_label }}" name="{{ form.nature.html_name }}" value="{{ form.nature.value }}" type="number"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.perception.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.perception.id_for_label }}" name="{{ form.perception.html_name }}" value="{{ form.perception.value }}" type="number"/></td>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.performance.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.performance.id_for_label }}" name="{{ form.performance.html_name }}" value="{{ form.performance.value }}" type="number"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.persuasion.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.persuasion.id_for_label }}" name="{{ form.persuasion.html_name }}" value="{{ form.persuasion.value }}" type="number"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.religion.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.religion.id_for_label }}" name="{{ form.religion.html_name }}" value="{{ form.religion.value }}" type="number"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.sleight_of_hand.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.sleight_of_hand.id_for_label }}" name="{{ form.sleight_of_hand.html_name }}" value="{{ form.sleight_of_hand.value }}" type="number"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.stealth.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.stealth.id_for_label }}" name="{{ form.stealth.html_name }}" value="{{ form.stealth.value }}" type="number"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.survival.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.survival.id_for_label }}" name="{{ form.survival.html_name }}" value="{{ form.survival.value }}" type="number"/></td>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Personality -->
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header" data-background-color="purple">
                <h4 class="title">Personality</h4>
              </div>
              <div class="card-content">
                <div class="row">
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.personality.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.personality.id_for_label }}" name="{{ form.personality.html_name }}" value="{{ form.personality.value }}" type="text"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.ideals.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.ideals.id_for_label }}" name="{{ form.ideals.html_name }}" value="{{ form.ideals.value }}" type="text"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.bonds.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.bonds.id_for_label }}" name="{{ form.bonds.html_name }}" value="{{ form.bonds.value }}" type="text"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.flaws.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.flaws.id_for_label }}" name="{{ form.flaws.html_name }}" value="{{ form.flaws.value }}" type="text"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="">
                      <td><label class="">{{ form.avatar.label_tag }}</label></td>
                      <td><input class="" id="{{ form.avatar.id_for_label }}" name="{{ form.avatar.html_name }}" value="{{ form.avatar.value }}" type="file"/></td>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group label-floating">
                      <td><label class="control-label">{{ form.user.label_tag }}</label></td>
                      <td><input class="form-control" id="{{ form.user.id_for_label }}" name="{{ form.user.html_name }}" type="hidden" value="{{ user.id }}"/></td>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Submit -->
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary pull-right">Submit</button>
          </div>
        </div>
      </form>
  </div>
</div>
{% endblock %}

{% load jsonify %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<script src="{% static 'ccreator/assets/js/character_form.js' %}"></script>

<script>
  var js_variable = {{classes | jsonify }};
  function_in_standalone_js(js_variable);


  // $(document).ready(function() {
  //   console.log("Page is loaded");
  //   classMenu();
  //   console.log("Class menu loaded");
  //
  //   $('#Barbarian').click(function() {
  //     console.log("Barbarian fxn clicked");
  //     var oneObj = JSON.parse('\'' + '{{ Barbarian | escapejs }}');
  //     // $('#char_class').html(oneObj);
  //   });
  //
  //   $('#Bard').click(function() {
  //     console.log("Bard was clicked");
  //   });
  //
  //   $('#randomize').click(function() {
  //     console.log("Randomize clicked");
  //   });
  // });
  //
  // function classMenu() {
  //   // $('#char_class').html("");
  //
  //   var jsonObj;
  //   try{
  //     jsonObj = JSON.parse('{{ classes }}');
  //     // jsonObj = {{ classes | escapejs }}
  //     var arr = jsonObj;
  //     var i = 0;
  //   }
  //   catch(err) {
  //     $('#char_class').html(err.message);
  //     $('#char_class').append('<br>{{ classes }}');
  //   }
  //
  //   while(arr) {
  //     // $('#char_class').append("<button style='text-align: left;' class='col-xs-6 col-sm-6 col-md-6 col-lg-6'><div style='border: black solid 2px;' class='col-xs-6 col-sm-10 col-md-10 col-lg-10'><p style='padding: 10px 0;>'" + arr[i].name + "</p></div><div style='text-align: right; border: black solid 2px;' class='col-xs-2 col-sm-2 col-md-2  col-lg-2'><i class='material-icons'>keyboard_arrow_right</i></div></button>");
  //     // $('#char_class').append("<button id=" + arr[i].name + " type='button' style='text-align: left;' class='col-xs-6 col-sm-6 col-md-6 col-lg-6'><div style='border: black solid 0; padding: 5px 0;' class='col-xs-6 col-sm-10 col-md-10 col-lg-10'>" + arr[i].name + "</div><div style='text-align: right;' class='col-xs-2 col-sm-2 col-md-2  col-lg-2'><i class='material-icons'>keyboard_arrow_right</i></div></button>");
  //     // $('#char_class').append("<button type='button' style='text-align: left;' class='col-xs-6 col-sm-6 col-md-6 col-lg-6'><div style='border: black solid 0; padding: 5px 0;' class='col-xs-6 col-sm-10 col-md-10 col-lg-10'></div><div style='text-align: right;' class='col-xs-2 col-sm-2 col-md-2  col-lg-2'><i class='material-icons'>keyboard_arrow_right</i></div></button>");
  //     i++;
  //   }
  //
  //   return;
  // }
</script>
{% endblock %}
