{% extends 'playermanager/base.html' %}

{% block character %}
class="active"
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header" data-background-color="purple">
        <h4 class="title">Edit Character</h4>
      </div>
      <form class="" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'ccreator/form-template.html' %}
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary pull-right">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
// document.getElementById("id_name").className = "form-control";
// var list = document.getElementsByTagName("INPUT");
// var i=0;
// while(list){
//   list[i].className = "form-control";
//   i++;
// }
</script>
{% endblock %}
