{% extends 'playermanager/base.html' %}

{% block character %}class="active"{% endblock %}

{% block body %}
   <!-- <h1>Characters</h1><hr> -->
   {% if characters %}
     <div class="row">
      {% for character in characters %}
       <a href="{% url 'playermanager:detail' character.id %}"><div class="col-lg-3 col-md-6 col-sm-6">
         <div class="card card-profile">
           {% if character.avatar %}
           <div class="card-avatar" data-background-color="orange">
               <img class="img" src="{{ character.avatar.url }}" />
           </div>
           {% else %}
           <div class="card-header" data-background-color="orange">
             <i class="material-icons">face</i>
           </div>
           {% endif %}
           <div class="card-content">
             <h3>{{ character }}</h3>
             <h4>{{ character.char_class }} | {{ character.race }} | Level: {{ character.level }}</h4>
           </div>
           <div class="card-footer">
             <div class="stats">
               <a href="{% url 'ccreator:character-delete' character.id%}" class="btn btn-danger btn-round"><i class="material-icons">delete</i></a>
             </div>
           </div>
         </div>
       </div></a>
      {% endfor %}
     </div>
   {% else %}
     <h2>You don't have any characters</h2>
   {% endif %}
   <div class="row">
     <div class="col-md-offset-11 col-md-1">
       <a href="{% url 'ccreator:character-add' %}" class="btn btn-primary btn-round">Add <i class="material-icons">group add</i></a>
     </div>
   </div>
{% endblock %}
