{% extends 'playermanager/base.html' %}

{% block dashboard %}class="active"{% endblock %}

<!-- {% block user %}
  {% if user.is_authenticated %}
    {{ user.get_username }}
  {% endif %}
{% endblock %} -->

{% block body %}
  {% if next %}
      {% if user.is_authenticated %}
      <p class="alert alert-danger">Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
      {% else %}
      <p class="alert alert-danger">Please login to see this page.</p>
      {% endif %}
  {% endif %}
  {% if characters %}
    <div class="row">
     {% for character in characters %}
      <a href="{% url 'playermanager:detail' character.id %}"><div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-profile">
          {% if character.avatar %}
          <div class="card-avatar" data-background-color="orange">
              <img class="img" src="{{ character.avatar.url }}" />
          </div>
          {% else %}
          <div class="card-header" data-background-color="orange">
            <i class="material-icons">face</i>
          </div>
          {% endif %}
          <div class="card-content">
            <h3>{{ character }}</h3>
            <h4>{{ character.char_class }} | {{ character.race }} | {{ character.level }}</h4>
          </div>
          <div class="card-footer">
            <div class="stats">
              <a href="{% url 'ccreator:character-delete' character.id%}" class="btn btn-danger btn-round"><i class="material-icons">delete</i></a>
            </div>
          </div>
        </div>
      </div></a>
     {% endfor %}
    </div>
  {% else %}
    <h2>You don't have any characters</h2>
  {% endif %}
{% endblock %}
