{% extends 'playermanager/base.html' %}
{% block body %}
   <h1>Characters</h1><hr>
   {% if characters %}
       {% for character in characters %}
       <div class="row">
         <div class="col-md-6 col-lg-6  portfolio-item">
           <a href="{% url 'playermanager:detail' character.id %}">{{ character }}</a>
         </div>
       </div>
       {% endfor %}
   {% else %}
     <h2>You don't have any characters</h2>
   {% endif %}
   <a href="{% url 'ccreator:character-add' %}">Add Character</a>
{% endblock %}
