{% extends 'playermanager/base.html' %}

{% block character %}class="active"{% endblock %}

{% block body %}
  <a href="{% url 'ccreator:character-delete' character.id %}">Delete</a>

  <div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header" data-background-color="purple">
                <h4 class="title">About</h4>
            </div>
            <div class="card-content">
                <form>
                    <div class="row">
                      <div class="col-md-5">
                        <div class="form-group label-floating">
                          <label class="control-label">Race</label>
                          <input type="text" class="form-control" value="{{ character.race }}" disabled>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group label-floating">
                          <label class="control-label">Class</label>
                          <input type="text" class="form-control" value="{{ character.char_class }}" disabled>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group label-floating">
                          <label class="control-label">Level</label>
                          <input type="email" class="form-control" value="{{ character.level }}" disabled>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                          <div class="form-group label-floating">
                            <label class="control-label">Background</label>
                            <input type="text" class="form-control" value="{{ character.background }}" disabled>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group label-floating">
                            <label class="control-label">Alignment</label>
                            <input type="text" class="form-control" value="{{ character.alignment }}" disabled>
                          </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
      <div class="card card-profile">
        {% if character.avatar %}
        <div class="card-avatar" data-background-color="orange">
            <img class="img" src="{{ character.avatar.url }}" />
        </div>
        {% else %}
        <div class="card-header" data-background-color="orange">
          <i class="material-icons">face</i>
        </div>
        {% endif %}
        <div class="content">
          <h2 class="card-title">{{ character }}</h2>
          <p class="card-content">
            Personality: {{ character.personality }}<br>
            Ideals: {{ character.ideals }}<br>
            Bonds: {{  character.bonds}}<br>
            Flaws: {{ character.flaws }}
          </p>
          <a href="{% url 'ccreator:character-update' character.id %}" class="btn btn-primary btn-round"><i class="material-icons">mode edit</i> Edit</a>
          <a href="#" class="btn btn-primary pull-right">Update <i class="material-icons">mode edit</i></a>
        </div>
      </div>
    </div>
  </div>

  <!-- Attributes -->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header" data-background-color="purple">
          <h3>Attributes</h3>
        </div>
        <div class="card-content">
          <div class="row">
            <div class="col-md-2">
              <div class="form-group label-floating">
                <label class="control-label">Strength</label>
                <input type="text" class="form-control" value="{{ character.strength }}" disabled>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group label-floating">
                <label class="control-label">Dexterity</label>
                <input type="text" class="form-control" value="{{ character.dexterity }}" disabled>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group label-floating">
                <label class="control-label">Constitution</label>
                <input type="text" class="form-control" value="{{ character.constitution }}" disabled>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group label-floating">
                <label class="control-label">Intelligence</label>
                <input type="text" class="form-control" value="{{ character.intelligence }}" disabled>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group label-floating">
                <label class="control-label">Wisdom</label>
                <input type="text" class="form-control" value="{{ character.wisdom }}" disabled>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group label-floating">
                <label class="control-label">Charisma</label>
                <input type="text" class="form-control" value="{{ character.charisma }}" disabled>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Skills -->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header" data-background-color="purple">
          <h3>Skills</h3>
        </div>
        <div class="card-content">
          <div class="row">
            <div class="col-md-2">
              <div class="form-group label-floating">
                <label class="control-label">Acrobatics</label>
                <input type="text" class="form-control" value="{{ character.acrobatics }}" disabled>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group label-floating">
                <label class="control-label">Animal Handling</label>
                <input type="text" class="form-control" value="{{ character.animal_handling }}" disabled>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group label-floating">
                <label class="control-label">Arcana</label>
                <input type="text" class="form-control" value="{{ character.arcana }}" disabled>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group label-floating">
                <label class="control-label">Athletics</label>
                <input type="text" class="form-control" value="{{ character.athletics }}" disabled>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group label-floating">
                <label class="control-label">Deception</label>
                <input type="text" class="form-control" value="{{ character.deception }}" disabled>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group label-floating">
                <label class="control-label">History</label>
                <input type="text" class="form-control" value="{{ character.history }}" disabled>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <div class="form-group label-floating">
                <label class="control-label">Insight</label>
                <input type="text" class="form-control" value="{{ character.insight }}" disabled>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group label-floating">
                <label class="control-label">Intimidation</label>
                <input type="text" class="form-control" value="{{ character.intimidation }}" disabled>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group label-floating">
                <label class="control-label">Investigation</label>
                <input type="text" class="form-control" value="{{ character.investigation }}" disabled>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group label-floating">
                <label class="control-label">Medicine</label>
                <input type="text" class="form-control" value="{{ character.medicine }}" disabled>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group label-floating">
                <label class="control-label">Nature</label>
                <input type="text" class="form-control" value="{{ character.nature }}" disabled>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group label-floating">
                <label class="control-label">Perception</label>
                <input type="text" class="form-control" value="{{ character.perception }}" disabled>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <div class="form-group label-floating">
                <label class="control-label">Performance</label>
                <input type="text" class="form-control" value="{{ character.performance }}" disabled>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group label-floating">
                <label class="control-label">Persuasion</label>
                <input type="text" class="form-control" value="{{ character.persuasion }}" disabled>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group label-floating">
                <label class="control-label">Religion</label>
                <input type="text" class="form-control" value="{{ character.religion }}" disabled>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group label-floating">
                <label class="control-label">Sleight of Hand</label>
                <input type="text" class="form-control" value="{{ character.sleight_of_hand }}" disabled>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group label-floating">
                <label class="control-label">Stealth</label>
                <input type="text" class="form-control" value="{{ character.stealth }}" disabled>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group label-floating">
                <label class="control-label">Survival</label>
                <input type="text" class="form-control" value="{{ character.survival }}" disabled>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Features & Languages (Location might be subject to change) -->
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header" data-background-color="purple">
          <h3>Features</h3>
        </div>
        <div class="card-content">
          {% for feature in features %}
          <p>{{ feature }}</p>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-header" data-background-color="purple">
          <h3>Languages</h3>
        </div>
        <div class="card-content">
          {% for language in languages %}
            <p>{{ language }}</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <!-- Traits -->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header" data-background-color="purple">
          <h3>Traits</h3>
        </div>
        <div class="card-content">
          {% for trait in traits %}
            <p>{{ trait }}</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <!-- Equipment -->
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header" data-background-color="purple">
          <h3>Equipment</h3>
        </div>
        <div class="card-content">
          {% for item in equipment %}
            <p>{{ item }}</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <!-- Spells -->
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header" data-background-color="purple">
          <h3>Spells</h3>
        </div>
        <div class="card-content">
          {% for spell in spells %}
            <p>{{ spell }}</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
